.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.container {
  border: 1px solid gray;
  background-color: white;
  max-width: 500px;
  margin: auto;
}

.title {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: lightgray;
  padding: 2px;
  border-bottom: 3px solid gray;
}

.plain {
  padding: 20px;
}

.example {
  text-align: left;
  font-size: 16px;
  background-color: lightblue;
  padding: 15px;
}

.hidden {
  padding: 5px;
  color: steelblue;
  background-color: steelblue;
  border-radius: 10px;
}

.hidden:hover {
 color: white;
}

.translation {
  font-style: italic;
  text-align: left;
  font-size: 16px;
  background-color: lightyellow;
  padding: 15px;
}
